.footer {
	padding-top: 30px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: top;
	padding-top: 22px;
	padding-bottom: 21px;
}

.footer__logo {
	padding-bottom: 6px;
}

.footer__copyright {
	align-self: flex-end;
}

.social {
	display: flex;
	align-items: top;
	gap: 15px;
	padding-top: 6px;
}

.social__link {
	color: var(--social);
	transition: color 0.5s linear;
}

.social__link:hover {
	color: var(--social-hover);
	transition: color 0.3s linear;
}

@media (max-width: 1200px) {
	.footer {
		padding-top: 10px;
	}
}

@media (max-width: 520px) {
	.footer__container {
		flex-wrap: wrap;
		column-gap: 100px;
		padding-top: 0;
	}

	.footer__copyright {
		align-self: center;
	}

	.social {
		padding: 0;
		margin: 0 auto;
	}
}
